.main-bucket {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightGray;
        padding: 12px 0;
    }

    &__title {
        font-weight: $regular;
        font-size: 36px;
        margin: 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;

        .bucket-plate {
            width: 65%;
        }

        .bucket-result {
            width: 30%;
        }
    }
}

.bucket-plate {
    width: 100%;
    margin: 0;

    &__item {}
}

.bucket-item {
    display: flex;
    justify-content: space-between;
    padding: 18px 10% 18px 0;

    & + * {
        border-top: 1px solid $lightGray;
    }

    &__img {
        object-fit: cover;
        border: 1px solid $lightGray;
    }

    &__img-holder {
        position: relative;

        & + * {
            margin-left: 16px;
        }
    }

    &__left {
        display: flex;
        max-width: 70%;
    }

    &__right {
        max-width: 30%;
        display: flex;
    }

    &__remove-item {
        position: absolute;
        right: 0;
        top: 0;
        background: $green;
        width: 25px;
        border-radius: 50%;
        height: 25px;
        transform: translate(35%, -35%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;

        &:hover {
            background: $darkGreen;
        }

        &::after, &::before {
            content: '';
            height: 55%;
            width: 2px;
            background: white;
            position: absolute;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__title {
        font-size: 24px;
        font-weight: $regular;

        & + * {
            margin-top: 16px;
        }
    }

    &__desc {
        font-size: 14px;
        font-weight: $light;
        opacity: .7;

        & + * {
            margin-top: 8px;
        }
    }
}

.price-calc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__result {
        span {
            font-size: 24px;

            &:last-child {
                font-weight: $regular;
                font-size: 16px;
            }
        }

        & + * {
            margin-top: 2px;
        }
    }

    &__item-price {
        span {
            opacity: .8;
            font-weight: $regular;
            font-size: 16px;
        }

        & + * {
            margin-top: 5px;
        }
    }

    .quantity-calc__btn {
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }
    }
}

.proceed {
    position: relative;
    transition: all 0.4s;
    width: 100%;

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__arrow {
        position: absolute;
        right: 36px;
        transform: scale(1.3);
        transition: all 0.4s;
    }

    &:hover {
        background: $darkGreen;

        .proceed__arrow {
            transform: translate(4px, 0) scale(1.3);
        }
    }
}

.bucket-result {
    &__header {
        padding: 16px 0;
        text-align: right;

        & + * {
            border-top: 1px solid $lightGray;
        }
    }

    &__content {
        padding: 16px 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__full-price {
        font-size: 36px;
        font-weight: $regular;

        & + * {
            margin-top: 20px;
        }
    }

    &__title {
        font-weight: $regular;
        font-size: 24px;

        & + * {
            margin-top: 20px;
        }
    }

    &__info {
        font-weight: $regular;
        font-size: 16px;
        opacity: .7;

        &_items-end {
            justify-content: flex-end !important;
        }

        &:last-child {
            margin-top: 20px;
        }
    }

    .proceed {
        & + * {
            margin-top: 20px;
        }
    }
}

.fast-buy {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        font-weight: $regular;
        font-size: 16px;
        opacity: 0.7;
        align-self: flex-start;
        margin: 0;
    }

    &__form {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 8px;

        > * + * {
            margin-left: 5px;
        }
    }

    & + * {
        margin-top: 50px;
    }
}
