.category-main {
    display: flex;

    > :first-child {
        width: 80%;
    }

    > :last-child {
        width: 20%;
    }
}

.product-plate {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    height: 100%;

    > .item-plate__item {
        margin-top: 12px;
        margin-left: 12px;
        width: calc((100% / 6) - 12px);

        @media (max-width: 1445px) {
            width: calc((100% / 5) - 12px);

            @media (max-width: 1250px) {
                width: calc((100% / 4) - 12px);
            }
        }
    }
}

.side-menu {
    min-width: 200px;
    margin-top: 12px;
    margin-left: 12px;
}

.category {
    font-family: $mainFont;
    padding-left: 16px;

    & + * {
        margin-top: 30px;
    }

    &__title {
        font-size: 18px;
        font-weight: $regular;
        color: #333333;

        & + * {
            margin-top: 12px;
        }
    }

    &__links {
        font-size: 14px;
        font-weight: $light;
        line-height: 1.5;
        color: rgb(38, 38, 38);
    }

    &__item {
        display: flex;

        @include underlineHover(rgb(38, 38, 38));
    }
}

@media (max-width: 430px) {
    .category-page {
        .home-section {
            display: none;
        }
    }

    .section-header {
        flex-direction: column;

        .sort {
            display: none;
        }
    }

    .category-main {
        .product-plate {
            width: 100%;
            margin-left: 0;

            .item-plate__item {
                width: 100%;
                margin-left: 0;
            }
        }

        .side-menu {
            display: none;
        }
    }
}

.category-mobile-filters {
    margin-top: 1.5rem;

    &.filtersOpened {
        .openFilters {
            transform: scale(0);
        }

        .closeFilters {
            transform: scale(1);
        }

        .filters-mobile {
            max-height: 800px;
        }
    }

    &.subCatOpened {
        .subcategories-mobile {
            max-height: 500px;
        }

        .openSubCategory {
            transform: rotate(180deg);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-btns {
            display: flex;
            align-items: center;

            .closeFilters {
                object-fit: cover;
                padding: 2px;
                position: absolute;
            }
        }
    }

    &__open-category {
        .openSubCategory {
            width: 27px;
            height: 27px;
            object-fit: cover;
            margin-top: 4px;
        }

        & + * {
            margin-left: 1.5rem;
        }
    }

    &__open-filters {
        display: flex;
        align-items: center;

        .closeFilters {
            transform: scale(0);
        }
    }
}

.subcategories-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    transition: all 0.3s;

    //
    overflow: hidden;
    height: 100%;
    max-height: 0;

    &__item {
        color: $darkGray;
        font: {
            size: 1rem;
            weight: $light;
        };
        padding: 12px 0;
        border-bottom: 1px solid $lightGray;
    }
}

.filters-mobile {
    transition: all 0.3s;

    //
    overflow: hidden;
    height: 100%;
    max-height: 0;

    .category {
        &__links {
            border-top: 1px solid $lightGray;
            margin-top: 5px;
            padding-top: 5px;
        }

        &__title {
            font-size: 1rem;
        }

        &__item {
            line-height: 1.7;
        }
    }
}
