@font-face {
    font-family: 'FuturaPT';
    src: url("/dist/assets/fonts/FuturaPTBook.otf");
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("/dist/assets/fonts/FuturaPTBold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("/dist/assets/fonts/FuturaPTLight.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("/dist/assets/fonts/FuturaPTMedium.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("/dist/assets/fonts/FuturaPTDemi.otf");
    font-weight: 600;
}

//CoreSansG
@font-face {
    font-family: 'CoreSansG';
    src: url("/dist/assets/fonts/CoreSansG-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'CoreSansG';
    src: url("/dist/assets/fonts/CoreSansG-Bold.ttf");
    font-weight: 700;
}

// Roboto

@font-face {
    font-family: 'Roboto';
    src: url("/dist/assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url("/dist/assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/dist/assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("/dist/assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}
