.main-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: relative;

    &__top-line {
        display: flex;
        background: $green;
        padding: 4px;

        &__content {
            display: flex;
        }

        &__item {
            font-size: 13px;
            display: flex;
            align-items: center;
            color: white;

            & + * {
                margin-left: 8px;
            }

            a {
                color: white;
            }
        }

        &__nav {
            margin-left: 50px;
            margin-right: 30px;
            display: flex;
            align-items: center;

            * + * {
                margin-left: 14px;
            }
        }
    }

    &__main-content {
        > * + * {
            margin-left: 33px;
        }
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;

        & + * {
            margin-left: 8px;
        }

        &_text {
            div {
                white-space: nowrap;
            }

            > * + * {
                margin-top: 8px;
            }
        }
    }

    &__main-content {
        display: flex;
        align-items: center;
        padding: 14px 0;
    }

    &__nav {
        > * + * {
            margin-top: 20px;
        }
    }

    &__bucket-socials {
        display: flex;
        flex-direction: column;

        > * + * {
            margin-top: 8px;
        }
    }
}

.link {
    cursor: pointer;

    &_green {
        color: $green;
    }
}
