.main-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: relative;

    &__top-line {
        display: flex;
        background: $green;
        padding: 4px;

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__item {
            font-size: 13px;
            display: flex;
            align-items: center;
            color: white;
            position: relative;

            @media (max-width: 1030px) {
                &:nth-last-child(1), &:nth-last-child(2) {
                    margin-top: 8px;
                }
            }

            & + * {
                margin-left: 8px;
            }

            a {
                color: white;
            }
        }

        &__nav {
            margin-left: 50px;
            margin-right: 30px;
            display: flex;
            align-items: center;

            * + * {
                margin-left: 14px;
            }
        }
    }

    &__main-content {
        > * + * {
            margin-left: 33px;
        }
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;

        & + * {
            margin-left: 8px;
        }

        &_text {
            div {
                white-space: nowrap;
            }

            > * + * {
                margin-top: 8px;
            }
        }
    }

    &__main-content {
        display: flex;
        align-items: center;
        padding: 14px 0;
    }

    &__nav {
        > * + * {
            margin-top: 20px;
        }
    }

    &__bucket-socials {
        display: flex;
        flex-direction: column;

        > * + * {
            margin-top: 8px;
        }
    }
}

.link {
    cursor: pointer;

    &_green {
        color: $green;
    }
}

.user-dropdown {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(174, 174, 174, 0.75);
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 200px;
    transform: translate(0, 110%);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
    border: 1px solid $lightGray {
        radius: 3px;
        top: none {
            right-radius: 0;
            left-radius: 0;
        };
    };

    &.active {
        transform: translate(0, 100%);
        opacity: 1;
        visibility: visible;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 14px;
        height: 14px;
        object-fit: cover;

        & + * {
            margin-left: 8px;
        }
    }

    &__item {
        padding: 10px 16px 10px 16px;
        transition: all 0.4s;
        display: flex;
        align-items: center;

        &_counter {
            justify-content: space-between;
        }

        &:nth-child(2n):not(:last-child) {
            border-bottom: 1px solid $lightGray;
        }

        &:hover {
            background: $lightGray;
        }
    }

    &__text {
        color: $darkGray;
    }
}
