body {
    font-family: $mainFont;
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

.link-hover {
    @include linkHover(#fff, 1);
}

.wrap {
    max-width: 1232px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    margin: 0 auto;

    &_wide {
        max-width: 1700px;
        padding: 0 60px;
        margin: 0 auto;
    }
}

.transparent {
    opacity: 0.6;
}

.icon {
    display: flex;

    &_decoy {
        width: 18px;
        height: 18px;
        background: white;
        border-radius: 50%;
        border: 1px solid red;
    }

    & + * {
        margin-left: 8px;
    }
}

.main-menu {
    background: white;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    flex-direction: column;
    border-top: 1px solid hsl(0, 0%, 90%);
    position: absolute;
    z-index: 9;
    bottom: 0;
    transform: translate(0, 100%);
    transition: all 0.4s;
    box-shadow: -10px 14px 15px -9px grey;
    width: 100%;

    //
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    .item-plate__item {
        max-height: 315px;
        margin: 50px;
        margin-bottom: 0;
        min-width: 230px;
    }

    &__items-block-wrap {
        display: flex;
        justify-content: center;
        max-width: 1400px;
    }

    &__items-wrap {
        display: flex;
        flex-wrap: wrap;

        &_five {
            .product {
                width: (100% / 5);
            }
        }

        &_six {
            max-width: calc(100% - 155px);

            @media (max-width: 1025px) {
                max-width: calc(100% - 192px);
            }

            .product {
                width: (100% / 6);
            }
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 50px;
    width: 100%;

    @media (max-width: 1025px) {
        width: (100% / 4);
    }

    &__title {
        font-size: 18px;
        font-weight: $regular;

        & + * {
            margin-top: 12px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        & + * {
            margin-top: 8px;
        }
    }

    &__item {
        font-size: 12px;
        color: #666666;
        transition: all 0.4s;

        &:hover {
            color: $green;
        }

        & + * {
            margin-top: 12px;
        }
    }

    &__show-all {
        padding-top: 8px;
        border-top: 1px solid $lightGray;
        font-size: 12px;
        color: #666666;
        min-width: 100%;
        transition: all 0.4s;

        &:hover {
            color: $green;
        }
    }
}

.page-top-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: $yellow;
    border-top: 6px solid $orange;
    position: relative;
    transition: all 0.4s;

    &.hidden {
        margin-top: -41px;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translate(0, -50%);
        width: 14px;
        height: 14px;
    }

    span {
        color: $green;
    }
}

.main {
    &-dropdown {
        display: flex;
        white-space: nowrap;

        &__title {
            display: flex;
            align-items: center;

            > * + * {
                margin-left: 10px;
            }
        }

        &__text {
            transition: all .4s;

            &:hover {
                color: $green;
            }

            color: rgb(38, 38, 38);
        }

        &_small {
            .main-dropdown__text {
                font-size: 14px;
            }
        }

        &_big {
            .main-dropdown__text {
                font-size: 18px;
            }
        }
    }

    &-search {
        display: flex;
        border: 1px solid $gray;
        align-items: center;
        border-radius: 4px;
        padding: 10px;
        height: 30px;
        font-size: 14px;
        position: relative;
        overflow: hidden;

        > * + * {
            margin-left: 8px;
        }
    }

    &-input {
        border-radius: 3px;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        &_divider {
            margin-left: 30px;

            &::before {
                content: '';
                position: absolute;
                left: -17px;
                top: 2px;
                height: 18px;
                width: 1px;
                background: $gray;
            }
        }

        &__input {
            border: none;
            width: 100%;
        }

        &__submit {
            background: $yellow;
            border: none;
            border-left: 1px solid $gray;
            position: absolute;
            right: -10px;
            height: 30px;
            align-items: center;
            padding-bottom: 0;

            svg {
                opacity: .3;
            }
        }
    }

    &-link {
        color: rgb(51, 51, 51);
        transition: all 0.4s;

        &:hover {
            color: $green;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 1215px) {
            margin-left: -12px;

            > * {
                margin-left: 12px;
                margin-top: 8px;
            }
        }

        > * + * {
            margin-left: 12px;
        }

        &__item {
            font-size: 18px;
            white-space: nowrap;

            &:nth-child(2) {
                margin-left: 13px;
            }
        }
    }

    &-bucket {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: 35px;
        }

        &__icon {
            display: flex;
            position: relative;
            top: 1px;
        }

        &__text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            > * + * {
                margin-top: 0px;
            }
        }

        &__item {
            display: flex;
            font-size: 14px;
            align-items: baseline;
            justify-content: flex-end;

            > * + * {
                margin-left: 4px;
            }

            &:first-child {
                margin-left: -10px;
            }

            :first-child {
                color: $green;
                font-size: 18px;
                font-weight: $bold;
            }
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        > * + * {
            margin-left: 8px;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $green;

            svg {
                transform: translate3d(0, 0, 0);
            }

            @include circleHover($green);
        }

        .main-socials {
            padding-bottom: 5px;
        }
    }

    &-home-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 12px;

        &__item {
            border: 1px solid rgb(229, 229, 229);
            border-radius: 4px;
            padding: 25px;
            display: flex;
            justify-content: space-between;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            transition: all 0.4s;

            &_link {
                &:hover {
                    border-color: $green;

                    h4 {
                        color: $green;
                    }
                }
            }

            & + .main-home-block__item {
                margin-top: 12px;
            }

            &_regular {
                width: calc((100% / 3) - 6px);
                display: flex;
                flex-direction: column;

                .main-home-block__item {
                    height: 100%;
                }

                & + .main-home-block__item {
                    margin-top: 12px;
                }
            }

            &_wide {
                width: calc((100% * (2 / 3)) - 6px);
            }
        }

        &__text-wrap {
            display: flex;
            flex-direction: column;

            > * + * {
                margin-top: 12px;
            }
        }

        &__title {
            font-size: 22px;
            color: rgb(18, 18, 18);
            font-family: 'RobotoSlab';
            font-weight: $bold;

            &_big {
                font-size: 22px;
                line-height: 1.2;
                max-width: 55%;

                h4 {
                    font-weight: normal;
                }
            }

            &_white {
                color: white;

                h4 {
                    font-weight: normal;
                }
            }

            h4 {
                margin: 0;
                transition: all 0.4s;
                transform: translate3d(0, 0, 0);
            }
        }

        &__text {
            font-size: 15px;
            color: rgb(18, 18, 18);
            line-height: 1.25;
            transform: translate3d(0, 0, 0);

            &_white {
                color: white;
            }
        }
    }

    &-slider {
        padding: 0;

        &__item {
            padding: 35px;
            display: flex !important;
            flex-direction: column;
            align-items: flex-end;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            outline: none;
        }

        &__sale {
            display: flex;
            flex-direction: column;
            position: relative;

            .text_big {
                font-family: $secondaryFont;
                font-size: 100px;
            }

            .text_small {
                position: absolute;
                top: 44px;
                left: 7px;
                font-size: 21px;
                font-family: $secondaryFont;
            }
        }

        &__text-wrap {
            max-width: 40%;
            padding-right: 5%;
            display: flex;
            flex-direction: column;

            &_light {
                color: white;
            }

            &_dark {
                color: hsl(0, 0%, 7%);
            }
        }

        &__title {
            font-family: $secondaryFont;
            font-weight: $regular;
            font-size: 26px;
            margin: 0;
        }
    }
}

.slick-track {
    height: 100%;
}

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);

    li {
        color: transparent;
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid white;
        outline: none;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s;

        &.slick-active {
            background: white;
        }

        & + li {
            margin-left: 15px;
        }

        &:hover {
            opacity: .7;
        }
    }

    button {
        display: none;
    }
}

.link {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.4s;

    > * + * {
        margin-left: 8px;
    }

    &_slab {
        font-family: "RobotoSlab";
    }

    &_blue {
        color: $blue;
    }

    &_white {
        color: white;
    }

    &_arrow {
        &:hover {
            .link__arrow-icon {
                transform: translate(4px, 0);
            }
        }
    }

    &__arrow-icon {
        border-radius: 50%;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s;

        &_blue {
            background: $blue;

            svg {
                * {
                    fill: white;
                }
            }
        }

        &_white {
            background: white;

            svg {
                * {
                    fill: $blue;
                }
            }
        }
    }
}

.sale-sticker {
    background: $yellow;
    color: $green;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 24px 0 24px;
    font-family: "Roboto";

    &__first-row {
        font-size: 16px;
        font-weight: $bold;
    }

    &__small-text {
        font-size: 7px;
        position: relative;
        bottom: -3px;
        right: -1px;
    }

    &__last-row {
        font-size: 24px;
        font-weight: $bold;
        position: relative;
        top: -10px;
    }
}

.text {
    &_small {
        font-size: 16px;
    }

    &_big {
        font-size: 80px;
    }
}

.btn {
    border-radius: 4px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    transition: all 0.4s;

    > * + * {
        margin-left: 20px;
    }

    &_big {
        padding: 12px 20px;
        font-weight: $bold;
        font-size: 22px;
    }

    &_gray {
        background: $gray;
        color: white;
    }

    &_small-text {
        width: auto;
        font-size: 11px;
        font-weight: $light;
    }

    &_add {
        padding: 10px 12px 10px 12px;

        > * + * {
            margin-left: 10px;
        }
    }

    &_green {
        background: $green;
        color: white;

        &:hover {
            background: $darkGreen;
        }
    }

    &_no-radius {
        border-radius: 0;
    }

    &_arrow {
        svg {
            transition: all 0.4s;
        }

        &:hover {
            background: $darkGreen;

            svg {
                transform: translate(4px, 0);
            }
        }
    }
}

.full-screen-wide {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;

    &_bg {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.item-plate {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 0 60px;
    font-family: $mainFont;
    position: relative;

    &.wrap {
        .custom-arrow__prev {
            left: -45px;
        }

        .custom-arrow__next {
            right: -33px;
        }
    }

    &__buy {
        &:hover {
            svg {
                &:first-child {
                    transform: translate(16px, 0) scale(1.5);
                }

                &:last-child {
                    transform: translate(-10px, 0);
                    opacity: 0;
                }
            }
        }

        svg {
            transition: all 0.4s;
        }

        span {
            white-space: nowrap;
        }
    }

    &__tag {
        background: $yellow;
        color: $green;
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px 14px;
        border-radius: 15px;
    }

    > * + * {
        margin-top: 20px;
    }

    &__title {
        font-size: 36px;
        color: $darkGray;
        margin: 0;
        font-weight: $regular;
    }

    &__wrap {
        display: flex;
        position: relative;
    }

    &__img {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }

        & + * {
            margin-top: 8px;
        }
    }

    &__name {
        font-size: 18px;
        color: $darkGray;
        line-height: 1.2;
        text-align: center;
        font-weight: $light;
        transition: all 0.4s;

        & + * {
            margin-top: 8px;
        }
    }

    &__number {
        font-size: 12px;
        color: $darkGray;
        text-align: center;
        line-height: 1.2;
        font-weight: $light;

        & + * {
            margin-top: 8px;
        }
    }

    &__price {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: 5px;
        }

        span {
            color: $darkGray;

            &:first-child {
                font-weight: $bold;
                font-size: 18px;
            }

            &:last-child {
                font-weight: $light;
                font-size: 12px;
            }
        }
    }

    &__bottom-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        span {
            white-space: nowrap;
        }

        > * + * {
            margin-left: 8px;
        }

        &.quantityVisibility {
            .addDisplaying {
                display: flex;
            }

            .quantityDisplaying {
                display: none;
            }
        }

        &.quantityVisibility_visible {
            .addDisplaying {
                display: none;
            }

            .quantityDisplaying {
                display: flex;
            }
        }
    }

    &__item {
        border-radius: 4px;
        border: 1px solid $lightGray;
        padding: 16px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 235px;
        transition: all 0.4s;
        position: relative;
        overflow: hidden;

        & + * {
            margin-left: 12px;
        }

        &_link {
            &:hover {
                .item-plate__name {
                    color: $green;
                }

                border-color: $green;
            }
        }
    }
}

.hide {
    visibility: hidden;
    transition: all 0.4s ease-in-out;

    &_opacity {
        opacity: 0;
    }

    &_display {
        display: none;
    }
}

.quantity-calc {
    min-height: 39px;
    align-items: center;
    display: flex;

    &__btn {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_add {
            background: $green;
        }

        &_remove {
            background: $lightGray;
        }
    }

    &__input {
        -webkit-appearance: none;
        max-width: 2em;
        border: none;
        text-align: center;
        color: $darkGray;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    }
}

.plateSlider {
    &__item {
        outline: none;
    }
}

.custom-arrow {
    position: absolute;
    top: 57%;
    transform: translate(0, -50%);
    height: 105px;
    border-right: 3px solid $lightGray;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 1285px) {
        display: none !important;
    }

    &:hover {
        .custom-arrow__triangle {
            transform: translate(-8px, -50%);
        }
    }

    &__circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: $lightGray;
        position: relative;
        top: 50%;
        transform: translate(50%, -50%);
    }

    &__triangle {
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        position: relative;
        top: 50%;
        transform: translate(-6px, -50%);
        z-index: 9;
        transition: all 0.4s;
    }

    &__prev {
        left: 0;
        transform: translate(0, -50%);
        margin: 0;
    }

    &__next {
        margin: 0;
        transform: rotate(180deg) translate(0, 50%);
        right: 10px;
    }
}

.info-block {
    padding: 35px;
    background: white;
    display: flex;
    width: calc((100% / 3) - 7px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-height: 250px;

    &_video {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__title {
        font-family: $secondaryFont;
        font-size: 24px;
        font-weight: $bold;

        & + * {
            margin-top: 13px;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: $regular;

        & + * {
            margin-top: 8px;
        }
    }

    &__accent-text {
        color: $green;

        span {
            &:nth-child(2) {
                position: relative;
                left: -5px;
            }
        }
    }

    &__container {
        padding: 45px;
        display: flex;
        justify-content: space-between;
    }

    &__text-wrap {
        position: relative;
        z-index: 1;
        max-width: 63%;
    }

    &__img {
        z-index: 0;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        &_bottom {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &_right {
            position: absolute;
            height: 100%;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}

.text {
    &_big {
        font-size: 50px;
    }

    &_small {
        font-size: 33px;
    }

    &_bold {
        font-weight: $bold;
    }

    &_green {
        color: $green;
    }
}

.item-tiles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    &__item {
        min-height: 160px;
        border-radius: 4px;
        border: 1px solid hsl(0, 0%, 90%);
        width: calc((100% / 4 ) - 16px);
        display: flex;
        position: relative;
        padding: 30px 20px;
        margin: 8px;
        overflow: hidden;
        transition: all 0.4s;

        &:hover {
            border-color: $green;

            .item-tiles__title {
                color: $green;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        font-family: $secondaryFont;
        font-size: 24px;
        font-weight: $regular;
        max-width: 50%;
        transition: all 0.4s;
    }

    &__img-holder {
        height: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 0;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.customers-reviews {
    background: $green;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    width: 100%;

    &__title {
        font-size: 32px;
    }

    &__slider {
        display: flex !important; // for slick
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100vw;

        .slick-dots {
            bottom: -40px;
        }

        &-item {
            padding: 50px 1rem;
            display: flex !important; // for slick
            flex-direction: column;
            align-items: center;
            max-width: 870px;
            margin: 0 auto;
        }

        &-img {
            border-radius: 50%;

            & + * {
                margin-top: 20px;
            }
        }

        &-desc {
            font-size: 18px;
            font-weight: $light;
            text-align: center;
            line-height: 1.556;

            & + * {
                margin-top: 16px;
            }
        }

        &-name {
            font-size: 20px;
            font-weight: $regular;
            text-align: center;
        }
    }
}

.main-text-block {
    display: flex;
    flex-direction: column;
    padding: 45px 0;

    &__title {
        font-size: 32px;
        color: $darkGray;
        line-height: 1.467;
        margin: 0;
        font-weight: $regular;

        & + * {
            margin-top: 35px;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: $light;
        line-height: 1.467;
        margin-bottom: 0;

        & + * {
            margin-top: 35px;
        }
    }
}

.main-lang {
    display: flex;
    align-items: center;

    & + * {
        margin-left: 30px;
    }

    &__title {
        font-weight: $light;
        font-size: 14px;

        & + * {
            margin-left: 12px;
        }
    }

    &__items-wrap {
        display: flex;
        align-items: center;
    }

    &__item {
        width: 25px;
        height: 25px;
        border: 1px solid $green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        @include circleHover($green);

        &_active {
            background: $green;
            color: white;
        }

        & + * {
            margin-left: 8px;
        }
    }
}

.main-subscribe {
    display: flex;
    align-items: center;

    > * + * {
        margin-left: 6px;
    }

    &__input {
        border: none;
        background: $lightGray;
        padding: 12px 20px;
        width: 100%;
        font-size: 14px;
        border-radius: 4px;
    }

    &__submit {
        border: none;
    }
}

.circle-arrow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $green;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    &:hover {
        opacity: 1;
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 25px solid white;
        border-right: 10px solid transparent;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        margin-left: 17px;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;

    &_padding {
        padding: 16px 0;
    }

    &__item {
        font-weight: $light;
        font-size: 14px;
        color: #333333;
        position: relative;
        display: flex;
        align-items: center;

        @include underlineHover(#333333);

        & + a {
            margin-left: 22px;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-right: 1px solid $darkGray;
                border-bottom: 1px solid $darkGray;
                transform: rotate(-45deg);
                top: 6px;
            }

            &::before {
                left: -14px;
            }

            &::after {
                left: -17px;
            }
        }
    }
}

.section-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.main-select {
    font-size: 14px;
    font-family: "Roboto";
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 11px 32px 11px 20px;
    cursor: pointer;

    &_opened {
        border-bottom-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .main-select__dropdown {
            opacity: 1;
            visibility: visible;
        }
    }

    &__active {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: 13px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-right: 1px solid $darkGray;
        border-bottom: 1px solid $darkGray;
        transform: rotate(45deg);
        transition: all 0.4s;
        right: 15px;
    }

    &_no-arr {
        padding: 8px 20px;

        &::after {
            content: initial;
        }
    }

    &__dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -1px;
        width: calc(100% + 2px);
        bottom: 3px;
        transform: translate(0, 100%);
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        border-radius: 3px;
        border: 1px solid rgb(218, 218, 218);
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transition: all 0.4s;
        z-index: 5;
        background: white;
    }

    &__item {
        padding: 8px 20px;
        color: $darkGray;
        transform: translate3d(0, 0, 0);

        &:hover {
            background: rgba($color: $darkGray, $alpha: 0.1);
        }
    }
}

.sort {
    margin: 5px 0;
    display: flex;
    position: relative;

    > * + * {
        margin-left: 10px;
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: rgb(38, 38, 38);
        font-weight: $regular;
    }
}

.home-section {
    display: flex;
    padding: 40px 50px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    position: relative;
    overflow: hidden;

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 60%;

        > * + * {
            margin-top: 22px;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: $regular;
    }

    &__desc {
        line-height: 1.5;
        font-size: 18px;
        font-weight: $light;
    }

    &__img-wrap {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: $lightGray;
        width: 35%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;

    & + .main-text-block {
        border-top: 1px solid $lightGray;
    }

    &__arr {
        height: 30px;
        width: 30px;
        background: $green;
        border-radius: 50%;
        margin: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
            &_back {
                transform: rotate(180deg);
                margin-left: -3px;
            }

            &_forward {
                margin-left: 1px;
            }
        }
    }

    &__pages {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: 12px;
        }
    }

    &__item {
        font-size: 22px;
        color: #333333;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s;

        &_dots {
            pointer-events: none;
        }

        @include circleHover(rgba($color: $green, $alpha: 0.8));

        &.current {
            color: white;
            background: $green;
            pointer-events: none;
        }
    }
}

.banner {
    border: 1px solid hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 22px;
    min-height: 290px;
    position: relative;
    overflow: hidden;

    &_bg-green {
        background: $green;

        .banner__title, .banner__text {
            color: white;
        }
    }

    & + * {
        margin-top: 12px;
    }

    &__sale {
        &-block {
            position: absolute;
            left: 21px;
            bottom: 5px;
            transform: translate(0, 100%);
        }

        &-arr {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 21px;
            top: -7px;
        }

        &-num {
            color: $green;
            font-weight: $bold;
            font-size: 76px;
        }
    }

    &__title {
        font-weight: $regular;
        color: $darkGray;

        &_big {
            font-size: 24px;
        }

        &_medium {
            font-size: 18px;
            font-weight: $bold;
        }

        & + * {
            margin-top: 12px;
        }
    }

    &__text {
        font-weight: $regular;
        color: $darkGray;
        position: relative;

        &_small {
            font-size: 12px;
        }

        &_medium {
            font-size: 14px;
        }

        & + * {
            margin-top: 30px;
        }
    }

    &__img-wrap {
        display: flex;

        &_absolute {
            z-index: -1;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;

            img {
                width: 100%;
            }
        }
    }
}

.text {
    &-green {
        color: $green;
    }
}

.btn {
    &_buy-submit {
        height: 58px;
        width: 250px;
        background: $green;
        display: flex;
        align-items: center;
        border: none;
        justify-content: center;
        transition: all 0.4s;
        overflow: hidden;

        &__text {
            color: white;
            font-weight: $regular;
            font-size: 32px;
            margin-left: 28px;
            transition: all 0.4s;
        }

        &__icon-cart {
            height: 45px;
            width: 45px;
            transition: all 0.4s;
        }

        &:hover {
            .btn_buy-submit__icon-cart {
                transform: translate(63px, 0);
            }

            .btn_buy-submit__text {
                opacity: 0;
            }
        }

        &:active {
            border: 1px solid white;
        }
    }
}
