// Variables:
// _colors
$mainFont: "Roboto";
$mainColor: hsl(0, 0%, 29%);
$lightBlue: #00D1FF;
$gray: #999999;
$green: #009933;
$yellow: #ffcc33;
$orange: #ff9933;
$blue: rgb(26, 145, 214);

// _font weight
$light: 300;
$book: normal;
$regular: normal;
$medium: 500;
$demi: 600;
$bold: 700;

// Mixins
