.main-product-holder {
    display: flex;

    &__slider {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
}

.product-slider {
    &-main {
        width: 100%;

        &__item {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-nav {
        margin-top: 16px;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;

        > * + * {
            margin-left: 12px;
        }

        &__item {
            width: 95px;
            height: 95px;
            border: 1px solid $lightGray;
            cursor: pointer;
            transition: all 0.4s;
            margin: 5px;

            &:hover {
                border-color: $green;
            }

            &.slick-current {
                border-color: $green;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    padding-left: 16px;

    &__header {
        & + * {
            margin-top: 16px;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: $regular;
        margin: 0;

        & + * {
            margin-top: 16px;
        }
    }

    &__article {
        font-size: 14px;
        font-weight: $light;
        color: #666666;
        margin-bottom: 0;
    }
}

.block {
    &-price {
        &__price {
            font-size: 54px;
            font-weight: $regular;
        }

        &__currency {
            font-size: 36px;
            font-weight: $regular;
        }
    }

    &-buy {
        display: flex;

        > * + * {
            margin-left: 10px;
        }

        .quantity-calc__btn {
            width: 58px;
            height: 58px;
            cursor: pointer;
        }

        .quantity-calc__input {
            font-size: 32px;
        }
    }
}
