.links-block {
    display: flex;
    flex-direction: column;

    &_career {
        .links-block__dropdown_opened {
            padding-bottom: 2em;
        }

        .text-small {
            padding-left: 2rem;
        }
    }

    &_big {
        flex-direction: row;

        @media (max-width: 430px) {
            flex-direction: column;
        }

        .link {
            font-size: 22px !important;
            font-weight: $regular !important;
            width: auto !important;

            @media (max-width: 430px) {
                font-size: 16px !important;
            }

            & + * {
                margin-top: 16px !important;

                @media (max-width: 430px) {
                    margin-top: 12px !important;
                }
            }
        }

        .links-block__item {
            width: max-content;

            & + * {
                margin-left: 135px;

                @media (max-width: 430px) {
                    margin-left: 0;
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 0;

        .link {
            font-size: 14px;
            font-weight: $light;
            margin-bottom: 0;
            width: max-content;

            @media (max-width: 430px) {
                display: inline;
            }

            @include underlineHover($green);

            & + * {
                margin-top: 8px;
            }
        }
    }

    &__title {
        font-weight: $regular;
        font-size: 18px;
        margin: 0;
        color: $darkGray;
        display: flex;

        & + * {
            margin-top: 16px;
        }
    }

    &__dropdown {
        font-size: 14px;
        font-weight: $light;
        max-width: 65%;
        height: 100%;
        color: $darkGray;
        text-decoration: none !important;
        display: flex;
        max-height: 0;
        overflow: hidden;
        line-height: 1.5;

        &_column {
            display: flex;
            flex-direction: column;
        }

        &_opened {
            max-height: 500px;
            padding-bottom: 8px;
        }
    }
}
